:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  margin: 0;
  height: auto;
  overflow-y: scroll;
.Menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between ;
  align-items: start;
  height: 50px;
  margin: 3px;
}

.MenuListContainer{
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.Menu__bottons{
  width: 220px;
  color: #000;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.Menu__bottonContact{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  padding: 4px;
  width: 220px;
  justify-content: center;
}
.logoContact{
  margin-top: 2px;
  width: 25px;
}


.Menu__Logo{
    margin-left: 30px;
    margin-right: 80px;
}

.imgMenu__Logo{

  width: 140px ;
}



.SideBarLogo{
  margin-top: 15px;
    margin-left: 35px;

}

/*Home*/
.Home{
display: flex;
flex-direction:column;
justify-content: center;
flex: 1 0 0; 
}

.home__h1{
  color: #000;
  text-align: center;
  font-size: 24px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  margin-top: 25px;

}

.home__h4{
  color: #000;
text-align: center;
font-size: 18px;
font-family: Open Sans;
font-style: normal;
font-weight: 400;
line-height: normal; 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
